/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {

}



/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 991px) {
    .header-logo {
        width: 24%;
    }
    .header-title{
        width: 23%;
    }
    
    .service-1,
    .service-2,
    .service-3 {
        background-position: 0!important;
    }
    .section-about-us{
        background-position: 100% 0%;
    }
    
    .me-container{
        text-align: center;
    }
    .follow-me {
       line-height: 80px
    }
    .follow-social {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 3.2em
    }
    
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    .section-about-us{
        background-position: 80% 0%;
    }
    ul.overlay {
        position: fixed;
        background-color: rgba(153, 117, 62, 0.6);
        width: 100%;
        margin: auto 0!important;
        top: 80px;
    }
    .navbar-nav > li > a {
        display: inline-block;
        margin-top: 5px;
        padding: 1px 15px;
        margin-left: 0;
    }
    .nav-opt {
        height: 60px;
    }
    
    .nav-opt:nth-of-type(3n){
        margin-bottom: 10px;
    }
    
    .navbar-collapse {
        padding-left: 0!important;
        margin-left: 0;
    }
    .nav-container{
        margin: 0!important;
        padding: 0!important;
    }
    .navbar-header{
/*        margin-bottom: 15px;*/
    }
    .navbar-small ul.overlay{
         top: 60px!important;
    }
}



@media only screen and (max-width: 675) {
    .header-logo {
        width: 28%;
    }
    .header-title{
        width: 27%;
    }
}

@media only screen and (max-width: 560px) {
    .follow-me {
       line-height: 40px;
        margin: 20px 0;
    }
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .header-logo {
        width: 32%;
    }
    .header-title{
        width: 31%;
    }
}
