/* Colors:
Mid grey: #a5a5a5
Dark grey: #6b6b6b
Darkest grey: #444444


Brown: rgb(153, 117, 62)

Grey: rgb(39,37,37)
 */
html,
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    
}

.invisible{
    display: none;
}

@media screen and (max-width: 768px) {
  ul.overlay{
     position: fixed;
     background-color: rgba(153, 117, 62, 0.13);
     width: 100%;
  }
}

li.whatever{
  width: 100%;
}  

.navbar{
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-toggle{
    margin-top: 30px;
    
    -webkit-transition:0.5s all ease;
    
    transition:0.5s all ease;
      -webkit-backface-visibility:hidden;
              backface-visibility:hidden;
}

.navbar-inverse .navbar-toggle{
    border-color: rgb(153, 117, 62);
}

.navbar-large{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 37, 37, 0.9)), to(rgba(39, 37, 37, 0.2)));
  background: linear-gradient(to bottom, rgba(39, 37, 37, 0.9), rgba(39, 37, 37, 0.2));
  height: 90px;
  line-height: 80px;
}

.navbar-inverse {
    border-color: rgba(153, 117, 62, 0.26);
}

.nav-opt{
  font-size: 18px;
}

.navbar-brand{
  width: 100px;
}


.navbar-nav>li>a{
  color: #99753e!important;
  margin-top: 35px;
  padding: 1px 2px;
  margin-left: 35px; 
}

a.seventh:before{
  right:0;
}
a.seventh:after{
  left:0;
}

a.before:before,a.after:after{
  content: "";
  -webkit-transition:0.5s all ease;
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}

a.before:before{
  top: -0.15em;
}
a.after:after{
  bottom:-0.15em;
}

a.before:before,
a.after:after{
  height:5px;
  height:0.15rem;
  width:0;
  background:rgb(153, 117, 62);
}

a.before:hover:before,a.after:hover:after{
  width:100%;
}

.logo,
.logo-title{
    display: inline-block;
}

.logo{
    width: 70%;
    height: auto;
}

.head-pic{
  max-width: 100%;
  max-height: 100%;
}

.header-image{
    background-color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../img/cover3.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/cover3.png");
    background-position: center;
    background-size: cover;
    color: #fff;
    font-size: 200%;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index:-1;
    padding-bottom: 150px;
    background-attachment: fixed;
}

.header-logo{
    margin: 0 auto;
    display: block;
    margin-top: 180px;
    width: 17%;;
}

.header-title{
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    width: 16%;;
}


.title {
  color: rgb(153, 117, 62);
  padding-top: 5%;
  font-weight: 300;
  font-size: 100%;
}


/************* NAV BAR TRANSFORM ***************/
nav,
.logo,
.navbar-brand,
.navbar-nav>li>a {
    transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}

.navbar-small{
    height: 60px;
    border-bottom: solid 3px rgb(153, 117, 62);
    
}

.nav-li-small{
    margin-top: 20px!important;
}

.logo-small{
    width: 40%;
    height: auto;
    margin-bottom: 10px!important;
}

.navbar-brand-small{
    padding-top: 12px!important;
}

.navbar-toggle-small{
    margin-top: 13px!important;
}


/***********************************************/

h1{
    color: #98743e;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 auto;
    width: 410px;
    margin-top: 80px;
    margin-bottom: 60px;
    border-bottom: solid 1px #98743e;
}

.section-one{
  background-color: rgb(11, 11, 11);
  color: rgb(39,37,37);
  font-size: 200%;
  text-align: center;
    font-weight: 300px;
  padding-bottom: 100px;
}

.service{
    margin: 20px 0;
}

.service-container{
    background: rgba(39, 37, 37, 0.5);
    margin-top: 50%;
    display: inline-block;
    padding: 10px;
    width: 180px;
    height: 45px;
    
}

.service-outline{
    border: 1px solid rgb(153, 117, 62);
    height: 28px;
}

.service-name{
    color:  #99753e;
    font-size:0.7em;
    font-weight: 300;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.service-desc{
    color: #fff;
    font-weight: 300px;
    font-size: 0.6em;
    margin-top: 100px;
    display: none;
}

.service-1,
.service-2,
.service-3{
    padding: 0!important;
    height: 420px;
    background: rgb(153, 117, 62);
    margin: 0; 
    background-size: cover;
}

.service-1{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../img/compose.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/compose.png");
}

.service-2{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../img/drums.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/drums.png");
}

.service-3{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../img/live1.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/live1.png");
}

/*
.section-two{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../img/who-we-are.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/who-we-are.jpg");
    background-size: cover;
    background-position: 180px -180px;
    color: #fff;
    font-size: 200%;
    text-align: center;
}
*/

.section-two{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../img/who-we-are.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/who-we-are.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 180px 0;
    color: #fff;
    font-size: 200%;
    text-align: center;
}

.about-us-container{
    background: -webkit-gradient(linear, left top, right top, from(rgb(72, 72, 72)),color-stop(rgba(72, 72, 72, 0.5)), to(rgba(0, 0, 0, 0.0)));
    background: linear-gradient(to right, rgb(72, 72, 72),rgba(72, 72, 72, 0.5), rgba(0, 0, 0, 0.0));
    height: 470px;
}

.about-us-title{
    margin-top: 50px;
    font-size: 0.9em;
    margin-bottom: 30px;
}

.about-us-desc{
    font-size: 14px;
    margin: 0 auto;
    width: 70%;
}

.section-three{
  background-color: rgb(62, 62, 62);
  color: #fff;
  font-size: 200%;
  text-align: center;
}

.js--wp-1,
.js--wp-2,
.js--wp-3{
  max-width: 100%;
}
